.prim {
    width: 50%;
    border: solid;
    border-color: black;
    font-size: 1em;
}

.seg {
    width: 33%;
    border: solid;
    border-color: red;
    font-size: 1.2em;
}

.ter {
    width: 15%;
    border: solid;
    border-color: blue;
    font-size: 0.8em;
}