#contenedor {
    float: initial;
    background-color: rgb(237, 233, 127);
    width: 85%;
    margin: 0 auto;
    padding: 10px;
}

fieldset {
    color: rgb(179, 49, 92);
}

legend {
    color:green;
}

h1 {
    color: red;
    font-family: verdana;
}
h3 {
    font-family: verdana;
}
#SupI {
    float: left;
}

#SupD {
    float: right;
}

#MedI {
    float: left;
    clear: both;
    width: 50%;
}

#MedD {
float: right;
}

#Pie {
    clear: both;
    margin-bottom: 10px;
}
.boton {
    color: red;
    background-color: transparent;
    border: 2px, solid, red;
}