#cabecera{
float:initial;
background-color: orange;
img{
margin-left: 80%;
width: 150px;
}
}
#izquierda{
float: left;
margin-right: 8px; ;
height: 500px;
padding: 5px;
background-color: pink;
width: 68%;
text-align: justify;
}
#derecha{
float: right;
height: 500px;
padding: 5px;
background-color: cadetblue;
width: 29%;
text-align: left;
}
#abajo{
float: inline-end;
padding: 5px;
margin-top: 8px;
background-color: grey;
    
    }